* {
	padding: 0px;
	margin: 0px;
	border: none;
}
body {
    font-family: 'Lucida Grande', sans-serif;
    background: linear-gradient(90deg,#e52e71,#ff8a00);

}
@media (max-width: 720px){
  .slider-thumb{
      display: none;
  }
}

#img{
 
  width: 100px;
  height: 100px;
  text-decoration: none;
}


a{
  position: relative;
  z-index: 2;
  text-decoration: none;
}
#zxc{
  height: 70vh;
  width: 100%;
  transform: translateY(-100px);
}
#asd{
  display: flex;
  justify-content: center;
  color: white;
  padding: 50px;
}
#footer{
  /* display: flex; */
  height: 30vh;
  width: 100%;
  background-color:black;
  line-height: 1.3;
}
#footer-txt{
  font-size: 3rem;
  color: pink;
  display: flex;
  justify-content: center;
}
#header{
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: black;
}
#main-txt{
    position: absolute;
    left: 50px;
    top: 20px;
    font-size: 3rem;
    color: pink;
}
#first{
    /* background-color: pink; */
    width: 100%;
    height: 100vh;
    /* position: relative; */
}
.sec{
    position: relative;
    z-index: -1;
    display: flex;
    justify-content: center;
    transform: translateY(150px);
    color: white;
}

.btn {
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  height: 60px;
  width: 200px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:hover,
.btn:focus {
  background-color: #F082AC;
}
.parent{
    text-align: center;
    position: relative;
    top: 200px;
}

:root {
    --accent-color: #fff;
    --gradient-color: #FBFBFB;
  }
 
  
  .sidebar{
    position: fixed;
    width: 240px;
    left: -240px;
    height: 100%;
    background-color: #fff;
    transition: all .5s ease;
  }
  .sidebar header{
    font-size: 28px;
    color: #353535;
    line-height: 70px;
    text-align: center;
    background-color: #fff;
    user-select: none;
    font-family: 'Lato', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: #353535;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-left: 5px solid transparent;
    font-family: 'Lato', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid var(--accent-color);
    color: #fff;
     background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    right: 5px;
    cursor: pointer;
    color: #d6adff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #e8d1ff;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      inset -7px -7px 10px 0px rgba(0,0,0,.1),
     3.5px 3.5px 20px 0px rgba(0,0,0,.1),
     2px 2px 5px 0px rgba(0,0,0,.1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }
  @media(max-width : 860px){
    .sidebar{
      height: auto;
      width: 70px;
      left: 0;
      margin: 100px 0;
    }
    header,#btn,#cancel{
      display: none;
    }
    span{
      position: absolute;
      margin-left: 23px;
      opacity: 0;
      visibility: hidden;
    }
    .sidebar a{
      height: 60px;
    }
    .sidebar a i{
      margin-left: -10px;
    }
    a:hover {
      width: 200px;
      background: inherit;
    }
    .sidebar a:hover span{
      opacity: 1;
      visibility: visible;
    }
  }
  
  .sidebar > a.active,.sidebar > a:hover:nth-child(even) {
    --accent-color: #52d6f4;
    --gradient-color: #c1b1f7;
  }
  .sidebar a.active,.sidebar > a:hover:nth-child(odd) {
    --accent-color: #c1b1f7;
    --gradient-color: #A890FE;
  }
  
  
  .frame {
    width: 50%;
    height: 30%;
    margin: auto;
    text-align: center;
  }
  
  h2 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 60px;
    font-family: 'Lato', sans-serif;
    margin: 0;
    color: #a759f5;
  }
  
  p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 30px;
    color: #d6adff;
    margin: 0;
  }
  #fparent{
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .slider-thumb::before {
    position: absolute;
    content: "";
    left: 30%;
    top: 20%;
    width: 450px;
    height: 450px;
    background: #17141d;
    border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
    will-change: border-radius, transform, opacity;
    animation: sliderShape 5s linear infinite;
    display: block;
    z-index: -1;
    -webkit-animation: sliderShape 5s linear infinite;
  }
  @keyframes sliderShape{
    0%,100%{
    border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    34%{
        border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
      transform:  translate3d(0,5px,0) rotateZ(0.01deg);
    }
    50%{
      transform: translate3d(0,0,0) rotateZ(0.01deg);
    }
    67%{
      border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
      transform: translate3d(0,-3px,0) rotateZ(0.01deg);
    }
  }
  .browser-alert {
    margin: 0;
    padding: 1rem;
    background-color: #222;
    color: white;
}

.browser-alert a {
    color: inherit;
}

@supports (object-fit: cover) and (display: grid) {
    .browser-alert {
        display: none;
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.blog-post-teasers {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

.blog-post-teasers > * {
    flex: 1 1 300px;
    align-self: flex-start;
    padding: 1rem;
}

@supports (display: grid) {
    .blog-post-teasers {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2rem;
    }

    .blog-post-teasers > * {
        padding: 0;
    }
}

.blog-post-teaser figure {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 30% 0;
    cursor: pointer;
}

.blog-post-teaser figure::before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, #f093fb 0%, #f5576c 100%);
    content: '';
}

.blog-post-teaser figure:hover img {
    opacity: 0.25;
}

.blog-post-teaser figure:hover figcaption {
    opacity: 1;
    transform: translateY(0);
}

.blog-post-teaser figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    text-align: center;
    opacity: 0;
    transform: translateY(1rem);
    transition: all 0.3s ease-in-out;
}

.blog-post-teaser figcaption h1 {
    font-size: 18px;
}

.blog-post-teaser figcaption a {
    text-decoration: none;
    color: #fff;
}

.blog-post-teaser img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: multiply;
    filter: saturate(0);
    transition: all 0.3s ease-in-out;
}
